.guides {
    padding: 30px 35px;

    @media only screen and (max-width: 1200px) {
        padding: 30px 20px;
    }

    @media only screen and (max-width: 600px) {
        padding: 15px 5px;
    }

    .row {
        padding: 55px 0;
        text-align: left;

        @media only screen and (max-width: 992px) {
            text-align: center;
            padding: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    .guide-traveller {
        margin-left: -50px;
        width: 599px;
        height: 542px;

        @media only screen and (max-width: 1200px) {
            margin-left: -30px;
            width: 520px;
            height: 480px;
        }

        @media only screen and (max-width: 992px) {
            width: 450px;
            height: 407px;
        }

        @media only screen and (max-width: 600px) {
            width: 380px;
            height: 290px;
            padding: 0 5px;       
        }
    }

    .plus-icon {
        position: relative;
        transform: rotate(16deg);
        top: 500px;
        left: 485px;

        @media only screen and (max-width: 1200px) {
            top: 430px;
            left: 390px;
        }

        @media only screen and (max-width: 992px) {
            top: 425px;
            left: 100px;
          }

        @media only screen and (max-width: 600px) {
            top: 312px;
            left: 15px;
        }
    }

    .plus-rot-icon {
        position: relative;
        transform: rotate(7.49deg);
        top: 100px;
        left: 1170px;

        @media only screen and (max-width: 1200px) {
            top: 120px;
            left: 940px;
        }

        @media only screen and (max-width: 992px) {
            top: 25px;
            left: 500px;
          }

        @media only screen and (max-width: 600px) {
            top: 25px;
            left: 245px;
        }
    }

    .green-circle {
        position: relative;
        top: 155px;
        left: 65px;

        @media only screen and (max-width: 1200px) {
            top: 105px;
            left: 8px;
        }

        @media only screen and (max-width: 992px) {
            top: 520px;
            left: 525px;
          }

        @media only screen and (max-width: 600px) {
            top: 380px;
            left: 50px;
        }
    }

    h1 {
        font-family: $fontFair;
        font-style: $fontStylenormal;
        font-weight: bold;
        font-size: 36px;
        color: $black;
        line-height: 50px;

        padding: 145px 102px 20px 70px;

        @media only screen and (max-width: 1200px) {
            font-size: 30px;
            padding: 95px 70px 0px 25px;
        }

        @media only screen and (max-width: 992px) {
            font-size: 30px;
            padding: 55px 70px 0px 50px;
        }

        @media only screen and (max-width: 600px) {
            font-size: 28px;
            padding: 25px 10px 0px 10px;
        }
    }

    p {
        font-family: $fontMullish;
        font-style: $fontStylenormal;
        font-weight: 200;
        line-height: 30px;
        font-size: 17px;
        color: $greypara;

        padding: 0 115px 20px 70px;

        @media only screen and (max-width: 1200px) {
            font-size: 16px;
            padding: 0 70px 0 25px;
        }

        @media only screen and (max-width: 992px) {
            font-size: 15px;
            padding: 0 110px 0 90px;
        }

        @media only screen and (max-width: 600px) {
            padding: 0 15px 0 15px;
            font-size: 14px;
            line-height: 25px;
        }
    }

    .btn-exp {
        font-family: $fontInter;
        font-style: $fontStylenormal;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        color: $white;
        background-color: $goldButton;
        padding: 11px 35px;

        margin: 5px 50px 20px 70px;

        @media only screen and (max-width: 1200px) {
            font-size: 15px;
            margin: 0px 50px 20px 25px;
            padding: 10px 31px;
        }

        @media only screen and (max-width: 992px) {
            font-size: 15px;
            margin: 0px 50px 20px 30px;
            padding: 9px 29px;
        }

        @media only screen and (max-width: 600px) {
            font-size: 14px;
            margin: 0px 30px 20px 30px;
            padding: 8px 27px;
        }
    }

    .btn-exp:hover {
        border-color: $goldButton;
        color: $goldButton;
        background-color: $white;
    }

    @media screen and (max-width: 992px) {
        .swap-b {
        -webkit-box-ordinal-group: 0 !important;
        -ms-flex-order: -1 !important;
        order: -1 !important;
        }
    
        .swap-h {
        -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
        order: 6 !important;
        }
      }
}