$fontInter: 'Inter', sans-serif;
$fontFair: 'Playfair Display', serif;
$fontMullish: 'Mulish', sans-serif;

$fontStylenormal: normal;

$blueNav: #202336;
$goldButton: #FB8F1D;
$white: #fff;
$grey: #AFB0B9;
$black: #000000;
$greypara: #7D7987;
$blackshade: #042521;
$greyshade: #80918E;
$greyborder: #6b6565;
$greyfooter: #848484;
$lightblue: aqua;