@import "_variables.scss";

html {
    margin-top: 0px !important;
  }

body {
    background-color: $white;
}

@import "_header.scss";

@import "_two.scss";

@import "_destinations.scss";

@import "_forth.scss";

@import "_testimonial.scss";

@import "_trending.scss";

@import "_footer.scss";

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #141c38;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 60%;
}

.hidden {
  display: none;
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: #7ac9f9;
}